*.ini text=crlf
*.txt text
rr/lib/tobex_redist/*.txt text=crlf
rr/lib/tobex_redist/readme/*.txt text=crlf
*.tp2 text
*.html text
*.tpa text
*.tpp text
*.tph text
*.2da text
*.htm text
*.d text
*.baf text
*.tra text

*.spl binary
*.dll binary
*.exe binary
*.bam binary
*.cre binary
*.bmp binary
*.itm binary
*.eff binary
*.pro binary
*.vvc binary
*.are binary
